@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Paytone+One&display=swap');


.heading {
               font-size: 44px;
               text-align: left;
}

.description {
               font-size:28px;
               text-align: left;
               font-weight: 550;
               font-family: "Fira Sans";
}
.about {
               font-family: "Fira Sans";
               font-size: 17px;
}

.input[type=text]{
    width:70%;
    border:0px solid #aaa;
    border-bottom: 2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
    background-color : transparent;
    color: #fff;
     font-family: "Fira Sans";
  }
  
  .no{
    font-family: "Fira Sans";
  }

  .input[type=text]:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
  }


  .area{
    background-color:transparent;
       padding-right:33%;
    box-sizing:border-box;
        transition:.3s;
        color: #fff;
        font-family: "Fira Sans";

         border:0px solid #aaa;
    border-bottom: 2px solid #aaa;
  }

  .area[type=textarea]{
    width:70%;
   
    border-bottom: 2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
    background-color : transparent;
    color: #fff;
     font-family: "Fira Sans";
  }



   .area[type=textarea]:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
  }

  .formContainer {
                 color : #ffffff;
                 background-color:#000000;
                 border-radius: 7px;
    font-family: "Fira Sans";    
              
  }
  .form {
                 margin-left: 20%;
                 padding: 5%;
               
  }


  .buttonTwo {
  border-radius: 4px;
  background-color:#ffffff;
  font-family: "Fira Sans";
  border: none;
  padding: 10px;
  width: 200px;
  text-align: center;
  transition: all 0.5s;
}

.subMain{
  width: 25%;
  margin:22px;

}

.buttonTwo{
  text-align: center;
  cursor: pointer;
  font-size:20px;
  margin-left:14%
}


.buttonTwo span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonTwo span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonTwo:hover span {
  padding-right: 25px;
}

.buttonTwo:hover span:after {
  opacity: 1;
  right: 0;
}

.popup {
  text-align: left;
  margin-left: 14%;
}


@media (max-width: 768px) {
  .buttonTwo{

    text-align: center;
    margin-left: 0%;
  
  }  
  .heading{
    margin-left: 13%;
  }
  .description{

    margin-left: 8%;
  }
  .about {
    margin-left:3%;
  }
  .aboutHeading{
    margin-left:3%
  }
}