@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Paytone+One&display=swap');


.heading {
               font-size: 44px;
               text-align: left;
}

.description {
               font-size:28px;
               text-align: left;
               font-weight: 550;
               font-family: "Fira Sans";
}
.about {
               font-family: "Fira Sans";
               font-size: 17px;
}

.input[type=text]{
    width:70%;
    border:0px solid #aaa;
    border-bottom: 2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
    background-color : transparent;
    color: #fff;
     font-family: "Fira Sans";
  }
  
  .input[type=text]:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
  }
  .formContainer {
                 color : #ffffff;
                 background-color:#000000;
                 border-radius: 7px;
    font-family: "Fira Sans";            
  }
  .form {
                 margin-left: 20%;
  }